
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dispatch Troubleshooting Software</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>New Type Of Error Encountered</h1>
        <hr>
        <h2>Save Error</h2>
 
        <form action="#" th:action="@{/addOtherError}" th:object="${errorMetadataEntity}"
            method="GET">
            <input type="text" th:field="*{errorTitle}" placeholder="Title"
                class="form-control mb-4 col-4">
            <input type="text" th:field="*{errorDescription}" placeholder="Description"
                class="form-control mb-4 col-4">
 	    <input type="text"th:field="*{severity}" placeholder="Severity (between 1 (High) and 3 (Low))"
                class="form-control mb-4 col-4" list="severityList" value="-select value from dropdown-">
			<datalist id="severityList">
				<option value="1">
				<option value="2">
				<option value="3">
			</datalist>
            <input type="text" th:field="*{spoc}" placeholder="SPOC of the error"
                class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2">Save
                Error</button>
        </form>
 
        <hr>
 
        <a th:href="@{/}"> Back to Error List</a>
    </div>
</body>
</html>